jobs/2026-05-05__23-08-02/n8n_set_node_keep_only_set__ntDCFoD/artifacts/workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-id",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"user_id\": 123,\n    \"name\": \"John Doe\",\n    \"email\": \"john@example.com\",\n    \"password_hash\": \"hashed_password\",\n    \"created_at\": \"2023-01-01T00:00:00Z\"\n  }\n];"
      },
      "id": "code-node-id",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ],
          "string": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-node-id",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        100
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
