jobs/2026-05-05__23-08-02/n8n_crypto_node_hash__BjmvVYQ/artifacts/workflow_final.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "e2f6b8a1-1c2d-4e3f-9a8b-7c6d5e4f3a2b",
      "name": "When clicking 'Execute Workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [ 250, 300 ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345678-1234-1234-1234-123456789012",
              "name": "inputString",
              "value": "n8n_is_awesome",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f3e7c9b2-2d3e-5f4a-0b9c-8d7e6f5a4b3c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 450, 300 ]
    },
    {
      "parameters": {
        "action": "hash",
        "type": "MD5",
        "value": "={{ $json.inputString }}",
        "dataPropertyName": "md5_hash",
        "encoding": "hex"
      },
      "id": "d1a2b3c4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [ 650, 300 ]
    }
  ],
  "connections": {
    "When clicking 'Execute Workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
