jobs/2026-05-05__23-08-02/n8n_execute_command_node__rnxw42M/artifacts/workflow/workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "7f8e9a0b-1c2d-3e4f-5g6h-7i8j9k0l1m2n",
      "name": "When clicking 'Execute Workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "command": "/home/node/script.sh"
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout;\nconst parsedData = JSON.parse(stdout);\nreturn [{ json: parsedData }];"
      },
      "id": "b2c3d4e5-f6g7-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    }
  ],
  "connections": {
    "When clicking 'Execute Workflow'": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
